<!DOCTYPE html>
<html>

    <head>
        <title>Gifiphy</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <a href="{{url_for('index')}}" id="logo">GIFIPHY</a>
                <p class='navbar-text'>No more boring lectures</p>
                <nav>
                    <a href='https://pennapps.com'><img class='navbar-right' src='http://2014s.pennapps.com/build/images/logo-light-with-shadow.png'></img></a>
                </nav>
            </div>
        </header>
        </nav>
        <div class='container'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
