<div class='row'>
    <div class='col-xs-12'>
        <div class="carousel media-carousel carousel-slide" id="media">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {% for i in range(3) %}
                        <div class="col-md-4">
                            <a class="thumbnail" href="{{url_for('add_to_presentation',id=gifs[i].id)}}"><img alt="" src="{{gifs[i].url}}"></a>
                        </div>          
                        {% endfor %}
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        {% for i in range(3,6) %}
                        <div class="col-md-4">
                            <a class="thumbnail" href="{{url_for('add_to_presentation',id=gifs[i].id)}}"><img alt="" src="{{gifs[i].url}}"></a>
                        </div>          
                        {% endfor %}
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        {% for i in range(6,9) %}
                        <div class="col-md-4">
                            <a class="thumbnail" href="{{url_for('add_to_presentation',id=gifs[i].id)}}"><img alt="" src="{{gifs[i].url}}"></a>
                        </div>          
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
            <a data-slide="next" href="#media" class="right carousel-control">›</a>
        </div>                          
    </div>
</div>
