{% extends 'base.html' %}
{% block content %}
<div class='imrow'>
    {% for gif in gifs %}
    <img class="endimg" src="{{gif.url}}" alt="..." class="img-rounded">
    {% endfor %}
</div>

<div class='row'>
    <div class='col-xs-12 text-center'>
        <a href='{{link}}' class="btn btn-xlarge btn-danger"><span class="glyphicon glyphicon-download"></span></a>
    </div>
</div>
<div class='row'>
    <div class='col-xs-12 text-center'>
        <p style='color:#D9534F; font-size:32px; font-weight:900'>Now this is something else.</p>
    </div>
</div>
{% endblock %}
