<!DOCTYPE html>
<html>
  <head>
    <title>Gifiphy splash</title>
  </head>
  <body>
    <div class='center'>
        <h1>Let's make it interesting</h1>
        <img src='https://www.petdrugsonline.co.uk/images/page-headers/cats-master-header'/>
        <%= render 'gif/search' %>
    </div>
  </body>
</html>
